@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  p,
  span,
  a,
  div,
  section,
  article,
  main,
  footer,
  header {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  h1 {
    @apply text-h1 font-extrabold;
  }

  h2 {
    @apply text-h2 font-bold;
  }

  h3 {
    @apply text-h3 font-semibold;
  }

  h4 {
    @apply text-h4 font-bold;
  }

  .font-hero {
    @apply text-hero font-bold;
    letter-spacing: -3px;
    word-spacing: -2px;
    line-height: 76px;
  }

  .font-hero-sm {
    @apply font-bold;
    font-size: 40px;
    letter-spacing: -3px;
    word-spacing: -2px;
    line-height: 56px;
  }

  .line-before {
    @apply before:;
  }
}
