@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  p,
  span,
  a,
  div,
  section,
  article,
  main,
  footer,
  header {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  h1 {
    @apply font-bold;
    font-size: 72px;
    letter-spacing: -3px;
    word-spacing: -2px;
    line-height: 76px;
  }

  h2 {
    @apply font-bold;
    font-size: 36px;
  }

  h3 {
    @apply font-semibold;
    font-size: 28px;
  }

  h4 {
    @apply font-bold;
    font-size: 23px;
  }

  .text-big {
    @apply font-bold;
    font-size: 52px;
  }

  @media screen and (max-width: 768px) {
    h1,
    h2,
    h3,
    p,
    span,
    a,
    div,
    section,
    article,
    main,
    footer,
    header {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
    }

    h1 {
      font-size: 40px;
      line-height: 56px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    .text-big {
      font-size: 33px;
    }
  }
}
